* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

.main {
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "item1 item1" "item2 item2" "item3 item3" "item4 item4" "item5 item6";
}

.main .primary .primary__copy {
  max-width: 600px;
}

.main .secondary .secondary__copy {
  max-width: 600px;
}

.main .third .btn {
  width: 300px;
  height: 40px;
  padding: 0;
}
